/* General page styling */
body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

.calculator {
  background-color: black;
  width: 320px;
  border-radius: 40px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.display {
  color: white;
  font-size: 3em;
  text-align: right;
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: #1c1c1c;
  overflow: hidden;
}

/* Button grid */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

/* Base button style */
button {
  height: 70px;
  width: 70px;
  border: none;
  border-radius: 50%;
  font-size: 1.5em;
  cursor: pointer;
  transition: 0.2s;
}


/* Button colors */
.black {
  background-color: #505050;
  color: white;
}

.gray {
  background-color: #a5a5a5;
  color: black;
}

.orange {
  background-color: #ff9500;
  color: white;
}

.zero {
  grid-column: span 2;
  border-radius: 35px;
  text-align: left;
  padding-left: 30px;
}
