body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input {
  width: 70%;
  padding: 8px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  background-color: #3b82f6;
  color: rgb(97, 92, 92);
  border-radius: 4px;
  transition: 0.3s;
}


ul {
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
}

li {
  display: flex;
  justify-content: space-between;
  background: #eee;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 5px;
  transition: 0.3s;
}

li.completed {
  text-decoration: line-through;
  color: gray;
  background: #d9d9d9;
}

.suggestion {
  margin: 3px;
  padding: 6px 10px;
  background-color: #e5e7eb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


